<launch>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping" />
        <arg name="open_rviz" value="false"/>
    </include>

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch"></include>

    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rsp_turtlebot3_slam)/rviz/slam.rviz"/>
</launch>