<launch>
    <include file="$(find rsp_loop_detection)/launch/rsp_loop_detection.launch" />
    <include file="$(find rsp_wf_frontier_exploration)/launch/rsp_wf_frontier_exploration.launch" />
    <include file="$(find rsp_random_walk_exploration)/launch/rsp_random_walk_exploration.launch" />
    <node
        name="deployer"
        pkg="rtt_ros"
        type="deployer"
        args="-s $(find rsp_turtlebot3_slam)/scripts/turtlebot3.ops"
        output="screen"></node>
</launch>